ul {
  margin-top: 20px;
}
.link {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.btn {
  display: flex;
  padding: 5.5px 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid #2d699d;
}
.nav {
  width: 1200px;
  height: 74px;
}
.logo {
  top: 20px;
  width: 131px;
  height: 70.041px;
  flex-shrink: 0;
}

li {
  color: #000;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.person {
  width: 383.38px;
  height: 468px;
  border-radius:242.539% 111.156%;
 background-color: lightgray;

}


